.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#edit {
    color: rgb(12, 216, 131);
}

#delete {
    color: rgb(92, 205, 233);
}

td.baixa {
    color: rgb(45, 187, 45);
}

td.media {
    color: rgb(207, 204, 34);
}

td.alta {
    color: rgb(192, 31, 31);
}